**/ignore/
**/outputs/
**/Makefile
**/cmake_packages/
**/CMakeFiles/
**/generated/
**/CMakeCache.txt
**/git-state.txt
**/idefix
**/*.dmp
**/*.cmake
**/build/
**/*.out
**/*.log
**/*.mp4
**/*.png
.vscode
*.vtk
Idefix2Python/
*.npy
*.ipynb