**/ignore/
**/outputs/
**/Makefile
**/cmake_packages/
**/CMakeFiles/
**/generated/
**/CMakeCache.txt
**/git-state.txt
**/idefix
**/*.dmp
**/*.cmake
**/build/
**/*.out
**/*.log
**/*.mp4
**/*.png
.vscode
*.vtk
Idefix2Python/
*.npy
*.ipynb
!AODustyLWind/reload_l/clean_wind.0002.dmp
!AODustyLWind/reload_l/clean_wind_100.0001.dmp